.container-md {
  background-color: rgba(254, 203, 161, 0.7);
}

.brand-logo {
  margin-left: 15px;
}

.card .card-content .card-title {
  margin-bottom: 10px;
}

#search-row form {
  padding-top: 20px;
}

.student-name {
  position: relative;
  top: -5px;
}

.collection-item form {
  margin-top: -5px;
}

#logoName {
  font-family: 'Belleza', sans-serif;
  font-size: 20px;
  display: inline-block;
}

/* ------ slides */
.carousel {
  height: 100vh;
  min-height: 300px;
  background: no-repeat scroll center scroll;
  -webkit-background-size: cover;
  background-size: cover;
}

.carousel-item::before {
  content:"";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: #000;
  opacity: 0.3;
}

#caption1 {
  position: absolute;
  top:30%;
  padding-left: 100px;
  padding-right: 100px;
}

#caption2 {
  position: absolute;
  top:30%;
  padding-left: 100px;
  padding-right: 100px;
}

#caption3 {
  position: absolute;
  top:30%;
  padding-left: 100px;
  padding-right: 100px;
}
.carousel-caption h5 {
  font-size: 100px;
  font-weight: 600px;
  font-family: 'Belleza', sans-serif;
}

.carousel-caption p {
  font-size: 20px;
  top: 2rem;
}

.slider-btn {
  margin-top: 30px;
}

.slider-btn .btn-1 {
  background-color: red;
  color: white;
  border-radius: 0.3;
  padding: 1.5rem 2rem;
  font-size: 1rem;
  margin-right: 15px
}

.slider-btn .btn-2 {
  background-color: red;
  color: white;
  border-radius: 0.3;
  padding: 1.5rem 2rem;
  font-size: 1rem;
  margin-right: 15px
}

.login-pic {
  width: 25px;
  object-fit: contain;
  margin-right: auto;
  margin-left: 5px;
}

.login {
  color: white;
  font-size: 1rem;
}
.logout {
  color: white;
  font-size: 1rem;
}

.school-btn {
  color: white;
  font-size: 1rem;
}

.showpage-container {
  max-width: 400px;
}

.userAvatar {
  border-radius: 50%;
  margin-right: 5px;
  width: 100px;
  height: 100px;
  margin-right: 10px;
}

td {
  vertical-align: middle;
}
table {
  background-size: 3096px auto;
  background-repeat: no-repeat;
  background-image: url("https://64.media.tumblr.com/162cc3dfa5cef6c882aba5453445f0fb/tumblr_mx3y1yYFad1qcm0eto1_1280.png");
  max-width: 90%;
  margin-left:auto;
  margin-right:auto;
  border-radius: 0.75;
}

.insShow {
  /* background-color: linear-gradient(red 0%, orange 25%, yellow 50%, green 75%, blue 100%); */
  background-color: #f8ceec;
  background-image: linear-gradient(315deg, #f8ceec 0%, #a88beb 74%);

}